<<<<<<< HEAD:frontend/src/index.css
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

>>>>>>> 47ded0e31e9194084eb1e21ad0284377c490967a:frontend/src/styles/index.css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
